<script type="text/javascript">
$(document).ready(function() {
$('.tabs').tabs();
});
</script>

<h1>Experience</h1>


<div class="row">
  <div class="span16">

    <ul class="tabs" data-tabs="tabs">
      <li class="active"><a href="#criticue">Criticue</a></li>
      <li><a href="#ncdc">NCDC</a></li>
      <li><a href="#integra">Integra</a></li>
      <li><a href="#tieto">Tieto</a></li>
      <li><a href="#autocomp">Autocomp</a></li>
      <li><a href="#juniorswimmingclub">Junior Swimming Club</a></li>
      <li><a href="#lima">Lima</a></li>
    </ul>
 
    <div class="pill-content">
      <div class="active" id="criticue"> <%= render "criticue" %> </div>
      <div id="ncdc"> <%= render "ncdc" %> </div>
      <div id="integra"> <%= render "integra" %> </div>
      <div id="tieto"> <%= render "tieto" %> </div>
      <div id="autocomp"> <%= render "autocomp" %> </div>
      <div id="juniorswimmingclub"><%= render "juniorswimmingclub" %> </div>
      <div id="lima"><%= render "lima" %> </div>
    </div>
 

  </div>
</div>
