<h1>Experience</h1>


<div class="row">
  <div class="span16">

    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#criticue" data-toggle="tab">Criticue</a></li>
      <li><a href="#ncdc" data-toggle="tab">NCDC</a></li>
      <li><a href="#integra" data-toggle="tab">Integra</a></li>
      <li><a href="#tieto" data-toggle="tab">Tieto</a></li>
      <li><a href="#autocomp" data-toggle="tab">Autocomp</a></li>
      <li><a href="#juniorswimmingclub" data-toggle="tab">Junior Swimming Club</a></li>
      <li><a href="#lima" data-toggle="tab">Lima</a></li>
    </ul>
 
    <div class="tab-content">
      <div class="tab-pane active" id="criticue"> <%= render "criticue" %> </div>
      <div class="tab-pane" id="ncdc"> <%= render "ncdc" %> </div>
      <div class="tab-pane" id="integra"> <%= render "integra" %> </div>
      <div class="tab-pane" id="tieto"> <%= render "tieto" %> </div>
      <div class="tab-pane" id="autocomp"> <%= render "autocomp" %> </div>
      <div class="tab-pane" id="juniorswimmingclub"><%= render "juniorswimmingclub" %> </div>
      <div class="tab-pane" id="lima"><%= render "lima" %> </div>
    </div>
 

  </div>
</div>
