<h1>Experience</h1>


<div class="row">
  <div class="span16">

    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#criticue" data-toggle="tab">Criticue</a></li>
      <li><a href="#ncdc" data-toggle="tab">NCDC</a></li>
      <li><a href="#integra" data-toggle="tab">Integra</a></li>
      <li><a href="#internships" data-toggle="tab">Internships</a></li>
      <li><a href="#freelance" data-toggle="tab">Freelance</a></li>
    </ul>
 
    <div class="tab-content">
      <div class="tab-pane active" id="criticue"> <%= render "criticue" %> </div>
      <div class="tab-pane" id="ncdc"> <%= render "ncdc" %> </div>
      <div class="tab-pane" id="integra"> <%= render "integra" %> </div>
      <div class="tab-pane" id="internships"> <%= render "internships" %> </div>
      <div class="tab-pane" id="freelance"><%= render "freelance" %> </div>
    </div>
 

  </div>
</div>
