<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A business card of Pawel Zienkiewicz">
    <meta name="author" content="Pawel Zienkiewicz">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pawel Zienkiewicz - business card</title>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
    <%= stylesheet_link_tag    "font"    , :media => "all" %> 
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    
    <%= nav_bar :fixed => :top, :brand => "Pawel Zienkiewicz", :class => "navbar-inverse", :responsive => true do %>
      <%= menu_group do %>
        <%= menu_item "Start", root_path %>
        <%= menu_item "Experience", experience_index_path %>
        <%= menu_item "Education", education_index_path %>
        <%= menu_item "Skills", skills_index_path %>
        <%= menu_item "Personal details", details_index_path %>
      <% end %>      
    <% end %>

    
    <div class="container main-content">
        <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p>Pawel Zienkiewicz - business card.</p>
        <ul class="footer-links">
          <li><a href="http://www.linkedin.com/pub/pawel-zienkiewicz/4b/67/3a2"><%= image_tag "linkedin_icon.png", width: "60px", height: "60px" %></a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://twitter.com/Zienek"><%= image_tag "twitter_icon.png", width: "60px", height: "60px" %></a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/zienek"><%= image_tag "github_icon.png", width: "60px", height: "60px" %></a></li>
          <li class="muted">&middot;</li>
          <li><a href="mailto:pz@lightec.pl?Subject=Hello" target="_top"">
            <%= image_tag "email_icon.png", width: "60px", height: "60px" %>
          </a></li>
        </ul>
      </div>
    </footer>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "application" %>
    
  </body>
</html>