
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="A business card of Pawel Zienkiewicz">
  <meta name="author" content="Pawel Zienkiewicz">

  <title>Cv - Pawel Zienkiewicz</title>

  <%= stylesheet_link_tag    "bootstrap", :media => "all" %> 
  <%= stylesheet_link_tag    "font"     , :media => "all" %> 

  
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'bootstrap-tabs' %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% # = csrf_meta_tags %>

    
</head>
<body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Pawel Zienkiewicz</a>          

          <%= tabs_tag :open_tabs => { :class => "nav" } do |tab|  %>
            <%= tab.start      'Start'  , root_path %>
            <%= tab.details    'Details'  , details_index_path %>
            <%= tab.education  'Education', education_index_path %>
            <%= tab.experience 'Experience', experience_index_path %>
            <%= tab.skills     'Skills', skills_index_path %>
            <%= tab.other      'Other', other_index_path %>
            
          <% end %>

        </div>
      </div>
    </div>



    <div class="container">
      <br><br>
      <br><br>
      <%= yield %>
      <%= footer_helper %>


    </div> <!-- /container -->
    
    



</body>
</html>